body { margin-top: 20px; margin-bottom: 20px; }
body.home { margin-top: 70px; }

#header { margin-bottom: 40px; }

#languages { margin-top: 40px; }
#footer { margin-top: 20px; }

body.home #languages { text-align: center; }
body.home #footer { text-align: center; }
#languages a { color: #999; font-size: 90%; }
#footer a { color: #999; }

#div_search { margin-top: 20px; margin-bottom: 20px; }

.glyphicon-chevron-left { font-size:80%; color: #666; }

phrase a { color: #000; }

sourceword { font-style: italic; }
sourceword, sourceword a { color: #333; }

sourcelang, sourcelang a { color: #333; }

sourcemeaning:before { content: '"'; }
sourcemeaning:after { content: '"'; }

tag, reference {
	font-size:80%; margin-right: 1px;
}

tag a, reference a {
	padding: 1px 3px;
}

tag a:hover, reference a:hover {
	color: #666;
	text-decoration: none;
}

tag a {
	color: #3E6D8E;
	background-color: #E0EAF1;
	border-bottom: 1px solid #B3CEE1;
	border-right: 1px solid #B3CEE1;
}

tag a:hover {
	background-color: #B3CEE1;
}

reference a {
	color: #666;
	background-color: #E1DEFE;
	border-bottom: 1px solid #BDB9E6;
	border-right: 1px solid #BDB9E6;
}
reference a:hover {
	background: #BDB9E6;
}

definitions {
	font-size:90%;
	color: #777;
}
